@import "reset.css";
@import "burger.css";

body{
    font-family: 'Roboto', sans-serif;
}

.wrap_header {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

header .logo {
    width: 5%;
    margin-top: 10px;
    margin-left: 2%;
}

header .logo img {
    width: 100%;
    position: relative;
    float: left;
}

header .nav_container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    position: absolute;
    transition: 1s;
}

.sticky {
    position: fixed !important;
    background-color: rgba(0,0,0,0.9);
    transition: .5s;
}


header nav ul li {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    padding: 30px 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:hover {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

header nav ul li a:active {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    line-height: 100px;
    color: white;
}

.h2-title {
    font-size: 2.8em;
    text-transform: uppercase;
}

.undertitle {
    font-size: 1.8em;
    text-align: center;
}

.title hr {
    border: 2px solid #E1C6A3;
    width: 50%;
}


header .connect {
    position: absolute;
    top: 0;
    right: 0;
}

header .connect ul li {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    padding: 40px 25px;
}

header .connect ul li a {
    text-decoration: none;
    color: #ffffff;
}
  header .connect ul li a:hover {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

header .connect ul li a:active {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

/* ---------------------------------------  modals  ------------------------------- */

.modal_form label, input {
    display: inline-block;
    margin-top: 10px;
}

.modal_form input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

div#users-contain {
    width: 350px;
    margin: 20px 0;
}

div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog{
    border-radius: 5%;
    background: rgba(0,0,0,0.8);
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.ui-dialog-title {
    text-align: center;
    color : #E1C6A3;
}

.ui-dialog-titlebar{
    background-color : transparent;
    margin: 0 auto;
    width: 80%;
    border: none;
}
.ui-dialog-buttonpane{
    background-color: transparent;
    margin: 0 auto;
    width: 60%;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
    color: darkred;
}

.radioLine {
    display: inline-block;
    color: white;

}

.modal_form input[type=radio]{
    display: inline-block;
    margin-right : 10%;
    margin-bottom: 12px;
}

#create-user, #connect-user, #create-user2, #connect-user2{
    background-color: transparent;
    border: none;
}

.modalLabel{
    color: white;
}

#modalLien{
    color: white;
}
/* **************************** Formulaire Mot de passe oublié **************************** */

.mdpOTitre{
    margin-top: 50px;
    margin-left: 40%;
    font-size: 2em;
}

.mdpOform{
    padding-top: 50px;
    padding-left: 40%;
}


/* Sections */

.wrap_section {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* Box 1 */
.first_block {
    margin-top: 50px;
}

.block_history {
    width: 50%;
    float: left;
}

.block_history h2 {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.line {
    border-bottom: 3px solid #D9BBA0;
    width: 30%;
    border-radius: 5px;
}

.block_history .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.block_history p {
    margin: 20px 0;
}

.block_history .ctct_btn {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

.block_history .ctct_btn:hover {
    background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    background-color: #634b30;
}

.block_history .ctct_btn:active {
    position: relative;
    top: 1px;
}

.our_local {
    width: 50%;
    float: right;
}

.our_local img {
    width: 80%;
    margin: 0 10%;
}

/* BOX 2 */
.second_block {
    margin-top: 50px;
}

.block_principles {
    width: 50%;
    float: left;
}

.principles_desc h2 {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.trait {
    border-bottom: 3px solid #D9BBA0;
    width: 20%;
    border-radius: 5px;
}

.block_principles img {
    width: 80%;
    margin: 0 10%;
}

.principles_desc {
    width: 50%;
    float: right;
}

.desc .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.desc p {
    margin: 20px 0;
}

/* BOX 3 */
.third_block {
    margin-top: 50px;
}

.block_conf {
    width: 50%;
    float: left;
}

.block_conf .title_block {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.trait2 {
    border-bottom: 3px solid #D9BBA0;
    width: 20%;
    border-radius: 5px;
}

.block_conf .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.block_conf p {
    margin: 20px 0;
}

.progBar p {
    margin: 20px 0;
}

.img_cv {
    width: 50%;
    float: right;
}

.img_cv img {
    width: 80%;
    margin: 0 10%;
}

.progress {
    width: 100%;
    height: 20px;
}
.progress-wrap {
    background: #f80;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.percents {
    margin-top: 1px;
    text-align: center;
}

/* Footer treatment*/

footer .wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-footer {
    margin-top: 50px;
    background-color: rgba(215, 212, 207, 0.4) ;
}

footer .lead{
    color : #333;
    font-size: 1.15em;
    text-transform: uppercase;
}

footer img{
    width: 100%;
}

footer .nav {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

footer .nav li{
    display: inline-block;
}

footer .nav a{
    color: #736156;
    text-decoration: none;
}


footer img{
    vertical-align: middle;
    transition : opacity .2s ease-in;
}

footer img:hover{
    opacity: .7;
}

footer .page-footer{
    background-color: #736156;
    font-size: .75em;
    padding-top: 30px;
    color : #fff;
}

footer .columns{
    max-width: 100%;
}

footer .column{
    float: left;
    width: 33.333333333333333333333333%;
    padding-bottom: 30px;
    padding-right: 5px;
}

footer .column-title{
    padding-bottom: 30px;
    font-size: 1.2em;
    text-align: center;
}

footer .flickr{
    margin-left: -3%;
    margin-bottom: -3%;
}

footer .column img{
    width: 31%;
    margin-left: 35%;
}

footer .flickr img{
    float: left;
    width : 25%;
    margin-left: 3%;
    margin-bottom: 3%;
    border-radius: 3px;
}

footer .bottom-bar{
    background-color: #D9BBA0;
    color : #736156;
    padding-left: 10px;
    line-height: 3em;
    margin-bottom: 30px;
    border-radius: 3px;
}

footer .copyright{
    float: left;
    margin-right: 35%;
}

footer address{
    font-style: italic;
    padding-left: 5px;
    line-height: 17px;
    text-align: center;
}

footer .social-icons {
    margin-left: 27%;
}

footer .social-icons li{
    float: left;
    margin-right: 3%;
}

footer .social-icons li img {
    display: block;
    margin-top: 10px;
    width: 36px;
    height: 36px;
}

footer .facebook img {
    width: 36px;
    height: 36px;
}

footer .twitter img {
    width: 36px;
    height: 36px;
}

footer .insta img {
    width: 36px;
    height: 36px;
}

footer .linkedin img {
    width: 36px;
    height: 36px;
}

footer .post-list {
    padding-right : 40px;
}

footer .post-list li {
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d4cf ;
    color : #000000;
    line-height: 16px;
    margin-bottom: 25px;
    text-align: justify;
}

footer .title{
    background-color: #333;
    color : #fff;
    margin-bottom: 30px;
    font-size: .875em;
    padding-left: 10px;
    line-height: 3em;
    text-transform: uppercase;
}

footer .title-focus{
    color: #ba5136;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .social-icons li img {
        width: 25px;
        height: 25px;
    }
}