@import "reset.css";
@import "burger.css";
@import "connexion.css";
@import "register.css";

body {
    font-family: 'Roboto', sans-serif;
}

.wrap_header {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

header .logo {
    width: 5%;
    margin-top: 10px;
    margin-left: 2%;
}

header .logo img {
    width: 100%;
    position: relative;
    float: left;
}

header .nav_container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    position: absolute;
    transition: 1s;
}

.sticky {
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.9);
    transition: .5s;
}


header nav ul li {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    padding: 30px 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:hover {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

header nav ul li a:active {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    line-height: 100px;
    color: white;
}

.h2-title {
    font-size: 2.8em;
    text-transform: uppercase;
}

.undertitle {
    font-size: 1.8em;
    text-align: center;
}

.title hr {
    border: 2px solid #E1C6A3;
    width: 50%;
}


header .connect {
    position: absolute;
    top: 0;
    right: 0;
}

header .connect ul li {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    padding: 40px 25px;
}

header .connect ul li a {
    text-decoration: none;
    color: #ffffff;
}

header .connect ul li a:hover {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}

header .connect ul li a:active {
    color: grey;
    border-bottom: 1px solid #E1C6A3;
}


/* **************************** Formulaire de recherche de CV  **************************** */

.searchCV {
    width: 50%;
    margin-top: 150px;
    margin-left: 30%;
    background-color: #efeeec;
    padding: 3%;
    border: 2px solid #634b30;
    border-radius: 5%;
    margin-bottom: 100px;
}

.searchCV label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

.ui-dialog {
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.8);
}

.searchCV select {
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(215, 212, 207);
    border: none;
    width: 98%;
}

.ui-dialog-title {
    text-align: center;
    color: #E1C6A3;
}

.ui-dialog-titlebar {
    background-color: transparent;
    margin: 0 auto;
    width: 80%;
    border: none;
}

.ui-dialog-buttonpane {
    background-color: transparent;
    margin: 0 auto;
    width: 60%;
}

.searchCV input[type=text] {
    padding: 5px;
    width: 100%;
    margin-right: 2%;

}

.searchCV input[type=email] {
    padding: 5px;
    width: 100%;
    margin-right: 2%;

}
.searchCV input[type=password] {
    padding: 5px;
    width: 100%;
    margin-right: 2%;

}

.searchCV input[type=submit] {
    margin-right: 2%;
    padding: 5px;
    width: 100%;
    margin-top: 15px;
}

.modal_form input[type=radio] {
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 12px;
}

#create-user, #connect-user, #create-user2, #connect-user2 {

    background-color: transparent;
    border: none;
}

.modalLabel {
    color: white;
}


#modalLien {
    color: white;

}

#resultRecherche {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    background-color : #634b30;
    color: white;
    box-sizing: border-box;
    z-index: 1001;
}

.titleCV{
    color: #634b30;
    font-size: 3em;
    margin-left: 43%;
    margin-top: 150px;
    padding-bottom: 25px;
    font-weight: bold;
}


/* Sections */

.wrap_section {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* Box 1 */
.first_block {
    margin-top: 50px;
}

.block_history {
    width: 50%;
    float: left;
}

.block_history h2 {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.line {
    border-bottom: 3px solid #D9BBA0;
    width: 30%;
    border-radius: 5px;
}

.block_history .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.block_history p {
    margin: 20px 0;
}

.block_history .ctct_btn {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

.block_history .ctct_btn:hover {
    background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    background-color: #634b30;
}

.block_history .ctct_btn:active {
    position: relative;
    top: 1px;
}

.our_local {
    width: 50%;
    float: right;
}

.our_local img {
    width: 80%;
    margin: 0 10%;
}

/* BOX 2 */
.second_block {
    margin-top: 50px;
}

.block_principles {
    width: 50%;
    float: left;
}

.principles_desc h2 {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.trait {
    border-bottom: 3px solid #D9BBA0;
    width: 20%;
    border-radius: 5px;
}

.block_principles img {
    width: 80%;
    margin: 0 10%;
}

.principles_desc {
    width: 50%;
    float: right;
}

.desc .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.desc p {
    margin: 20px 0;
}

/* BOX 3 */
.third_block {
    margin-top: 50px;
}

.block_conf {
    width: 50%;
    float: left;
}

.block_conf .title_block {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.6em;
}

.trait2 {
    border-bottom: 3px solid #D9BBA0;
    width: 20%;
    border-radius: 5px;
}

.block_conf .bold {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0;
}

.block_conf p {
    margin: 20px 0;
}

.progBar p {
    margin: 20px 0;
}

.img_cv {
    width: 50%;
    float: right;
}

.img_cv img {
    width: 80%;
    margin: 0 10%;
}

.progress {
    width: 100%;
    height: 20px;
}

.progress-wrap {
    background: #f80;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.percents {
    margin-top: 1px;
    text-align: center;
}

/* ------------------------------------------ Contact.php------------------------------------------------------- */
.before {
    position: relative;
}

.before img {
    position: absolute;
    width: 100%;
    height: 350px;
}

.before .big_titre {
    position: absolute;
    top: 160px;
    left: 43%;
    font-size: xx-large;
    color: #ffffff;
}

.before .ligne {
    position: absolute;
    top: 175px;
    left: 43%;
    border-bottom: 3px solid #D9BBA0;
    margin-top: 30px;
    width: 200px;
    border-radius: 5px;
}


.container_truc {
    margin-top: 350px;
    /*border: red 2px solid;*/
    min-height: 510px;
    width: 100%;


}

.wrapper {
    margin: 0 auto;
    width: 65%;
}

.block_1 {
    margin-top: 70px;
    /*border: black 2px solid;*/
    width: 50%;
    float: left;

}

.block_1 .titre {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;

}

.block_1 .line_block {
    border-bottom: 3px solid #D9BBA0;
    margin-bottom: 30px;
    width: 95px;
    border-radius: 5px;
}

.block_1 .par {
    font-size: 14px;
    line-height: 20px;
}

.block_1 .par .par1 {
    margin-bottom: 10px;
}

.block_2 {
    margin-top: 70px;
    /*border: blue 2px solid;*/
    width: 50%;
    float: left;
    text-align: center;
}

.block_2 .call {
    margin-bottom: 30px;
    width: 90%;
}

.block_2 img {
    width: 10%;
    float: left;
}

.block_2 .hours {
    margin-bottom: 30px;
    width: 90%;
}


.block_2 .email {
    margin-bottom: 30px;
    width: 90%;
}

.block_3 {
    margin-top: 70px;
    /*border: yellow 2px solid;*/
    width: 100%;
    float: right;
    display: inline-block;
    text-align: center;
}

.block_3 .form input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.block_3 textarea {

    max-height: 150px;
}

.block_3 .form input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.block_3 .form input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}
.block_3 .form input[type=submit] {
    background-color: #D9BBA0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* ------------------------------------ Footer ----------------------------------- */

/* Footer treatment*/

footer .wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-footer {
    margin-top: 50px;
    background-color: rgba(215, 212, 207, 0.4);
}

footer .lead {
    color: #333;
    font-size: 1.15em;
    text-transform: uppercase;
}

footer img {
    width: 100%;
}

footer .nav {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

footer .nav li {
    display: inline-block;
}

footer .nav a {
    color: #736156;
    text-decoration: none;
}


footer img {
    vertical-align: middle;
    transition: opacity .2s ease-in;
}

footer img:hover {
    opacity: .7;
}

footer .page-footer {
    background-color: #736156;
    font-size: .75em;
    padding-top: 30px;
    color: #fff;
}

footer .columns {
    max-width: 100%;
}

footer .column {
    float: left;
    width: 33.333333333333333333333333%;
    padding-bottom: 30px;
    padding-right: 5px;
}

footer .column-title {
    padding-bottom: 30px;
    font-size: 1.2em;
    text-align: center;
}

footer .flickr {
    margin-left: -3%;
    margin-bottom: -3%;
}

footer .column img {
    width: 31%;
    margin-left: 35%;
}

footer .flickr img {
    float: left;
    width: 25%;
    margin-left: 3%;
    margin-bottom: 3%;
    border-radius: 3px;
}

footer .bottom-bar {
    background-color: #D9BBA0;
    color: #736156;
    padding-left: 10px;
    line-height: 3em;
    margin-bottom: 30px;
    border-radius: 3px;
}

footer .copyright {
    float: left;
    margin-right: 35%;
}

footer address {
    font-style: italic;
    padding-left: 5px;
    line-height: 17px;
    text-align: center;
}

footer .social-icons {
    margin-left: 27%;
}

footer .social-icons li {
    float: left;
    margin-right: 3%;
}

footer .social-icons li img {
    display: block;
    margin-top: 10px;
    width: 36px;
    height: 36px;
}

footer .facebook img {
    width: 36px;
    height: 36px;
}

footer .twitter img {
    width: 36px;
    height: 36px;
}

footer .insta img {
    width: 36px;
    height: 36px;
}

footer .linkedin img {
    width: 36px;
    height: 36px;
}

footer .post-list {
    padding-right: 40px;
}

footer .post-list li {
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d4cf;
    color: #000000;
    line-height: 16px;
    margin-bottom: 25px;
    text-align: justify;
}

footer .title {
    background-color: #333;
    color: #fff;
    margin-bottom: 30px;
    font-size: .875em;
    padding-left: 10px;
    line-height: 3em;
    text-transform: uppercase;
}

footer .title-focus {
    color: #ba5136;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .social-icons li img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .block {
        float: none;
        display: block;
        width: 100%;
        margin-top: unset;
    }
}

